{% extends 'base.html' %}

{% block title %}Error del servidor - NetSchool UDC{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="mt-5 mb-5">
            <h1 class="display-1">500</h1>
            <h2 class="mb-4">Error interno del servidor</h2>
            <p class="lead mb-5">Lo sentimos, ha ocurrido un error en el servidor. Por favor, inténtalo de nuevo más tarde.</p>
            <a href="{{ url_for('public.index') }}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</div>
{% endblock %}